footer {
  background-color: #242526;
  display: flex;
  justify-content: space-around;
  height: 4vh;
  min-height: 30px;
  align-items: center;

  line-height: 35px;
}
.footer-ul {
  margin: 0;
}
.social-icon {
  color: #b0b3b8;
  font-size: 1.7rem;

  padding-right: 1vh;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  gap: 1vh;
}
.facebook :hover {
  color: rgb(59, 89, 152);
}
.twitter :hover {
  color: rgb(29, 161, 242);
}
.instagram:hover {
  color: rgb(225, 48, 108);
}

.link {
  text-decoration: none;
  color: #b0b3b8;
}

.link:hover {
  text-decoration: underline;
  color: white;
}
